@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: url('../font/pretendard/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  font-display: swap;
  src: url('../font/pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  font-weight: 500;
  font-display: swap;
  src: url('../font/pretendard/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  font-display: swap;
  src: url('../font/pretendard/Pretendard-Regular.woff') format('woff');
}

::placeholder {
  /* 전역 input의 중앙정렬 */
  text-align: center;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */
