input[id="menuicon"] {
    display:none;
}

input[id="menuicon"] + label {
    display:block;
    width:73px;
    height:40px;
    position:fixed;
    left: 40px;
    top: 40px;
    cursor:pointer;
    trasition:all .35s;
    margin-left:20px;
}

input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#ffffff;
    transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    width:209px;
    height:100%;
    background:#000;
    position:fixed;
    top:0;
    left:-209px;
    z-index: 1;
    trasition:all .35s;
}
input[id="menuicon"]:checked + label + div {
    left:0;
}

input[id="menuicon"]:checked + label {
    z-index:2;
}

input[id="menuicon"]:checked + label span {
    background : #fff;
}

.bar {
    justify-content: space-between;
}

.bar a {
    text-decoration: none;
    color : white;
    font-size:35px;
}

.list {
    list-style: none;
    padding-top : 110px;
    padding-left : 68px;
}

.mayoimage {
    padding-left : 40px;
    padding-top : 30px;
}

i {
    font-size: 60px;
    padding-top: 30px;
    margin-bottom:20px;
}

.invoice > i {
    padding-left: 10px;
}

.complete > i {
    padding-left: 7px;
}

.navbar {
    display : flex;
    justify-content : space-between;
    align-items : center;
    background-color : #000;
    margin : 0;
    height : 100px;
    padding : 8px 12px;
}

.open_state {
    padding-left : 235px;
    color : white;
    font-size : 36px;
}

.time {
    color : white;
    padding-right : 36%;
    font-size : 22px;
}

body {
    margin : 0;
}