.rectangle-2532-MqW {
    background-color: rgba(0, 0, 0, 0.8000000119);
    border: solid 0.1rem #000000;
    border-radius: 2rem;
    box-sizing: border-box;
    height: 88.7rem;
    left: 0rem;
    position: absolute;
    top: 0rem;
    width: 72.6rem;
}
.rectangle-2534-sJ4 {
    border-radius: 1.5rem;
    height: 20.2rem;
    left: 23rem;
    object-fit: cover;
    position: absolute;
    top: 1.5rem;
    vertical-align: top;
    width: 20.3rem;
}
.item--zNg {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4.5rem;
    font-weight: 700;
    height: 5.5rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 0rem;
    white-space: nowrap;
    width: 15.9rem;
}
.rectangle-2535-5uv {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    height: 4.9rem;
    left: 17rem;
    position: absolute;
    top: 47.6rem;
    width: 51.1rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.rectangle-2536-Pvc {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    height: 4.9rem;
    left: 17rem;
    position: absolute;
    top: 53.7rem;
    width: 51.1rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.rectangle-2537-7bi {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    height: 4.9rem;
    left: 17rem;
    position: absolute;
    top: 59.7rem;
    width: 51.1rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.rectangle-2538-zfW {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    height: 4.9rem;
    left: 17rem;
    position: absolute;
    top: 65.8rem;
    width: 50.9rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.rectangle-2565-6Te {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    height: 4.9rem;
    left: 17rem;
    position: absolute;
    top: 78.2rem;
    width: 50.9rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.rectangle-2564-14p {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    height: 4.9rem;
    left: 17rem;
    position: absolute;
    top: 72rem;
    width: 50.9rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.group-14-89S {
    background-color: #fbfbfc;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.3rem;
    font-weight: 400;
    height: 4.9167rem;
    left: 17rem;
    line-height: 1.2125;
    padding: 1.157rem 1.275rem 0.96rem 1.275rem;
    position: absolute;
    top: 41.2rem;
    white-space: nowrap;
    width: 51.1038rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color : #000000;
}
.item--XhN {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.8rem;
    font-weight: 700;
    height: 3.4rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 41.95rem;
    white-space: nowrap;
    width: 5.1rem;
}
.item--E5z {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.7rem;
    font-weight: 700;
    height: 3.3rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 48.5rem;
    white-space: nowrap;
    width: 6.5rem;
}
.item-30-tAY {
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 2.5rem;
    left: 17rem;
    line-height: 1.2125;
    position: absolute;
    top: 49.1rem;
    white-space: nowrap;
    width: 28.1rem;
}
.item-2000-XUQ {
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 2.5rem;
    left: 17rem;
    line-height: 1.2125;
    position: absolute;
    top: 54.9rem;
    white-space: nowrap;
    width: 5.5rem;
}
.item-1500-2AG {
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 2.5rem;
    left: 17rem;
    line-height: 1.2125;
    position: absolute;
    top: 61.1rem;
    white-space: nowrap;
    width: 5.1rem;
}
.item--X72 {
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 2.5rem;
    left: 17rem;
    line-height: 1.2125;
    position: absolute;
    top: 67rem;
    white-space: nowrap;
    width: 1.7rem;
}
.item-5--q7i {
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 2.5rem;
    left: 17rem;
    line-height: 1.2125;
    position: absolute;
    top: 79.4rem;
    white-space: nowrap;
    width: 13.1rem;
}
.item--vex {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.6rem;
    font-weight: 700;
    height: 3.2rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 54.75rem;
    white-space: nowrap;
    width: 13.7rem;
}
.item--CcU {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.6rem;
    font-weight: 700;
    height: 3.2rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 60.75rem;
    white-space: nowrap;
    width: 13.7rem;
}
.item--ToJ {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.6rem;
    font-weight: 700;
    height: 3.2rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 66.95rem;
    white-space: nowrap;
    width: 4.7rem;
}
.item--ASp {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.6rem;
    font-weight: 700;
    height: 3.2rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 79.35rem;
    white-space: nowrap;
    width: 6.3rem;
}
.item--cy2 {
    color: #ffffff;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.5rem;
    font-weight: 700;
    height: 3.1rem;
    left: 2rem;
    line-height: 1.2125;
    position: absolute;
    top: 73.2rem;
    white-space: nowrap;
    width: 11.9rem;
}

.rectangle-2770-rqz {
    background-color: #ffffff;
    border: solid 0.1rem #000000;
    border-radius: 1.7rem;
    box-sizing: border-box;
    height: 22.8rem;
    left: 4rem;
    position: absolute;
    top: 10.7rem;
    width: 63.8rem;
}

.item--DD7 {
    align-items: center;
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.7rem;
    font-weight: 700;
    height: 3.3rem;
    justify-content: center;
    left: 60rem;
    line-height: 1.2125;
    position: absolute;
    top: 3rem;
    white-space: nowrap;
    width: 3.3rem;
}

.save {
    background-color:#febe22;
    font-size: 3rem;
    font-weight: 700;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 5.6rem;
    position: absolute;
    width: 12rem;
}
