.item--PRF {
    align-items: center;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.auto-group-tqpf-zvq {
    flex-shrink: 0;
    height: 127rem;
    margin-bottom: 11.1rem;
    position: relative;
    width: 100%;
}

.rectangle-1980-Pbb {
    background-color: #181a1e;
    border-radius: 1.7rem;
    height: 14.8rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 201.3rem;
}

.rectangle-1981-tHT {
    background-color: #000000;
    border-radius: 1.7rem;
    height: 127rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 20.9rem;
}

.item-0505-14-48-QFo {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4.8rem;
    font-weight: 700;
    height: 5.9rem;
    left: 88.1rem;
    line-height: 1.2125;
    position: absolute;
    top: 0.3rem;
    white-space: nowrap;
    width: 39.7rem;
}
.item--pTw {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4.8rem;
    font-weight: 700;
    height: 5.9rem;
    left: 33.6rem;
    line-height: 1.2125;
    position: absolute;
    top: 0.3rem;
    white-space: nowrap;
    width: 8.7rem;
}
.ellipse-1-Jtu {
    background-color: #6eb646;
    border-radius: 1.75rem;
    box-shadow: 0 0.4rem 5rem #8ed168;
    height: 3.5rem;
    left: 27.3rem;
    position: absolute;
    top: 5.7rem;
    width: 3.5rem;
}
.rectangle-1986-nJH {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.3rem;
    left: 44.5rem;
    position: absolute;
    top: 31.2rem;
    width: 60.5rem;
    font-size : 4rem;
}
.rectangle-2010-tMK {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.3rem;
    left: 44.5rem;
    position: absolute;
    top: 40.7rem;
    width: 60.5rem;
    font-size : 4rem;
}
.rectangle-2012-1gq {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.3rem;
    left: 44.5rem;
    position: absolute;
    top: 51.4rem;
    width: 60.5rem;
    font-size : 4rem;
}
.rectangle-1999-w4h {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.3rem;
    left: 44.5rem;
    position: absolute;
    top: 62.1rem;
    width: 18.5rem;
    font-size : 4rem;
}
.rectangle-2000-49K {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.3rem;
    left: 70.1rem;
    position: absolute;
    top: 62.1rem;
    width: 17.5rem;
    font-size : 4rem;
}
.item--n5K {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 24.6rem;
    line-height: 1.2125;
    position: absolute;
    top: 28.4rem;
    white-space: nowrap;
    width: 7.3rem;
}
.item--Rty {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 107.5rem;
    line-height: 1.2125;
    position: absolute;
    top: 21.6rem;
    white-space: nowrap;
    width: 9.7rem;
}
.item--iNH {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 24.6rem;
    line-height: 1.2125;
    position: absolute;
    top: 37.9rem;
    white-space: nowrap;
    width: 14.2rem;
}
.item--oPj {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 24.6rem;
    line-height: 1.2125;
    position: absolute;
    top: 48.6rem;
    white-space: nowrap;
    width: 14.2rem;
}
.item--TUH {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 65rem;
    line-height: 1.2125;
    position: absolute;
    top: 59.2rem;
    white-space: nowrap;
    width: 2.8rem;
}
.item--xA9 {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 24.6rem;
    line-height: 1.2125;
    position: absolute;
    top: 59.4rem;
    white-space: nowrap;
    width: 9.7rem;
}
.item--eHs {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    height: 3rem;
    left: 53.7rem;
    line-height: 1.2125;
    position: absolute;
    top: 62.3rem;
    white-space: nowrap;
    width: 0.7rem;
}
.item--Ye9 {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    height: 3rem;
    left: 78.8rem;
    line-height: 1.2125;
    position: absolute;
    top: 64.2rem;
    white-space: nowrap;
    width: 0.7rem;
}
.rectangle-1999-ruj {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.2rem;
    left: 44.5rem;
    position: absolute;
    top: 73.4rem;
    width: 18.5rem;
    font-size : 4rem;
}
.rectangle-2000-Bh7 {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 7.2rem;
    left: 70.1rem;
    position: absolute;
    top: 73.4rem;
    width: 17.5rem;
    font-size : 4rem;
}
.item--h9f {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 65rem;
    line-height: 1.2125;
    position: absolute;
    top: 70.4rem;
    white-space: nowrap;
    width: 2.8rem;
}
.item--CcD {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 24.6rem;
    line-height: 1.2125;
    position: absolute;
    top: 70.6rem;
    white-space: nowrap;
    width: 9.7rem;
}
.item--WN1 {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    height: 3rem;
    left: 53.7rem;
    line-height: 1.2125;
    position: absolute;
    top: 75.6rem;
    white-space: nowrap;
    width: 0.7rem;
}
.item--PRo {
    color: #26282c;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    height: 3rem;
    left: 78.8rem;
    line-height: 1.2125;
    position: absolute;
    top: 75.5rem;
    white-space: nowrap;
    width: 0.7rem;
}
.rectangle-2003-sbs {
    background-color: #fbfbfc;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 64.6rem;
    left: 107.5rem;
    position: absolute;
    top: 30.9rem;
    width: 77.4rem;
    font-size : 4rem;
}
.rectangle-2548-mx9 {
    background-color: #25272b;
    height: 7.3rem;
    left: 24.6rem;
    position: absolute;
    top: 17.3rem;
    width: 25.5rem;
}
.item--5C9 {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 900;
    height: 4.4rem;
    left: 117.75rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 34.4rem;
    white-space: nowrap;
    width: 8.7rem;
}
.item--9xh {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 900;
    height: 4.4rem;
    left: 29.45rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 15.8rem;
    white-space: nowrap;
    width: 15.1rem;
}
.image-5-3HP {
    left: 2rem;
    position: relative;
    top: 102rem;
}
.rectangle-2009-uaV {
    background-color: #474a51;
    height: 17.6rem;
    left: 0;
    position: absolute;
    top: 62.9rem;
    width: 20.9rem;
}
.item--qU9 {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 700;
    height: 4.4rem;
    left: 6.2rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 21.1rem;
    white-space: nowrap;
    width: 6.5rem;
}
.icon-check-list-file-thin-aq3 {
    height: 7.6rem;
    left: 7.9rem;
    object-fit: contain;
    position: absolute;
    top: 13.5rem;
    vertical-align: top;
    width: 6.2804rem;
}
.item--JFF {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 700;
    height: 4.4rem;
    left: 7.15rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 90rem;
    white-space: nowrap;
    width: 4.4rem;
}
.vector-CLd {
    height: 6.7rem;
    left: 7rem;
    object-fit: contain;
    position: absolute;
    top: 83.6rem;
    vertical-align: top;
    width: 6.9rem;
}
.icon-playlist-add-check-KRF {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 8.624rem;
    left: 7.6rem;
    padding: 0rem 0.318rem 1.271rem 0.635rem;
    position: absolute;
    top: 31.4rem;
    width: 7.624rem;
}

.vector-CV3 {
    height: 7.4473rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.671rem;
}

.icon-storefront-7c1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 8.6rem;
    left: 6.7rem;
    padding: 0.0rem 0.634rem 0.95rem 0.635rem;
    position: absolute;
    top: 65.3rem;
    width: 7.6rem;
}

.vector-nTF {
    height: 7.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 6.3313rem;
}

.item--gHj {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 700;
    height: 4.4rem;
    left: 7.65rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 37.9rem;
    white-space: nowrap;
    width: 4.4rem;
}
.item--ynd {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 700;
    height: 4.4rem;
    left: 7.65rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 54.2rem;
    white-space: nowrap;
    width: 4.4rem;
}
.item--5qf {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.6rem;
    font-weight: 700;
    height: 4.4rem;
    left: 2.9rem;
    line-height: 1.2125;
    position: absolute;
    text-align: center;
    top: 71.1rem;
    white-space: nowrap;
    width: 10.9rem;
}
.vector-B81 {
    height: 7.6rem;
    left: 7.3rem;
    object-fit: contain;
    position: absolute;
    top: 48.1rem;
    vertical-align: top;
    width: 6.8rem;
}
.rectangle-2547-7GZ {
    background-color: #ededed;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 5.6rem;
    left: 159rem;
    position: absolute;
    top: 97.2rem;
    width: 12rem;
}
.item--pAy {
    align-items: center;
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.7rem;
    font-weight: 700;
    height: 3.3rem;
    justify-content: center;
    left: 161.75rem;
    line-height: 1.2125;
    position: absolute;
    top: 98.35rem;
    white-space: nowrap;
    width: 6.5rem;
    border : none;
}
.rectangle-2533-twX {
    background-color: #f2be22;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 5.6rem;
    left: 173.6rem;
    position: absolute;
    top: 97.1rem;
    width: 12rem;
}
.item--DD7 {
    align-items: center;
    color: #26282c;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.7rem;
    font-weight: 700;
    height: 3.3rem;
    justify-content: center;
    left: 177.95rem;
    line-height: 1.2125;
    position: absolute;
    top: 98.25rem;
    white-space: nowrap;
    width: 3.3rem;
}

.auto-group-3ktm-soT {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 7.7rem;
    margin: 0rem 88.4rem 0rem 69.5rem;
    width: calc(100% - 157.9rem);
}
.auto-group-86xd-aC5 {
    align-items: center;
    background-color: #ededed;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    color: #26282c;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    line-height: 1.2125;
    margin-right: 1.5rem;
    text-align: center;
    white-space: nowrap;
    width: 16.3rem;
}
.auto-group-ptmm-1oB {
    align-items: center;
    background-color: #ededed;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    color: #26282c;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    line-height: 1.2125;
    text-align: center;
    white-space: nowrap;
    width: 16.3rem;
}

.save {
    background-color:#febe22;
    font-size: 3rem;
    font-weight: 700;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 5.6rem;
    position: absolute;
    width: 12rem;
}

.backpressed {
    background-color: #ededed;
    border: solid 0.2rem #222222;
    box-sizing: border-box;
    height: 5.6rem;
    left: 159rem;
    position: absolute;
    top: 97.2rem;
    width: 12rem;
    font-size : 3rem;
}

.ellipse-2-6ny {
    background-color: #b64646;
    border-radius: 1.75rem;
    box-shadow: 0 0.4rem 4.6rem #b64646;
    height: 3.5rem;
    left: 23.2rem;
    position: absolute;
    top: 5.6rem;
    width: 3.5rem;
}