<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/css/createitem.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="rectangle-2532-MqW" id="1514:1924">
  <div class="rectangle-2770-rqz" id="1655:3308">
    <svg class="rectangle-2534-sJ4" xmlns="http://www.w3.org/2000/svg" width="96" height="90" viewBox="0 0 96 90" fill="none">
      <path d="M47.6471 0C73.9618 0 95.2941 20.1472 95.2941 45C95.2941 69.8528 73.9618 90 47.6471 90C21.3323 90 0 69.8528 0 45C0 20.1472 21.3323 0 47.6471 0ZM47.6471 82.174C69.3853 82.174 87.0077 65.5306 87.0077 45C87.0077 24.4694 69.3854 7.82605 47.6471 7.82605C25.9088 7.82605 8.2864 24.4694 8.2864 45C8.31227 65.5207 25.9192 82.1494 47.6445 82.1739H47.647L47.6471 82.174ZM71.3878 48.9131H23.9064V41.087H71.3878V48.9131ZM51.7903 67.4218H43.504V22.5782H51.7903V67.4218Z" fill="#F2BE22"/>
    </svg>
  </div>
  <p class="item--zNg" id="1514:1932">상품 관리</p>
    <form th:action="'/mayo/mypage/' + ${storeid} + '/iteminfo/createitem'" method ="post">
        <input name="item_name" class="group-14-89S" id="1514:1940">
      <input placeholder="최대 30자" name="item_description" class="rectangle-2535-5uv" id="1514:1933">
      <input name= "original_price" class="rectangle-2536-Pvc" id="1514:1934">
      <input name="sale_price" class="rectangle-2537-7bi" id="1514:1935">
      <input placeholder="% 단위입니다." name="sale_percent" class="rectangle-2538-zfW" id="1514:1936">
      <input name="additional_information" class="rectangle-2564-14p" id="1514:1938">
      <input placeholder="5분 단위로 입력해주세요." name="cooking_time" class="rectangle-2565-6Te" id="1514:1937">
        <div class="item--DD7" id="1514:2964">
            <button class="save" type="submit">저장</button>
        </div>
    </form>
    <div class="item--XhN" id="1514:1943">상품명</div>
    <div class="item--E5z" id="1514:1944">상품설명</div>
  <div class="item--vex" id="1514:1950">할인 전 가격</div>
  <div class="item--CcU" id="1514:1951">할인 후 가격</div>
  <div class="item--ToJ" id="1514:1952">할인율</div>
  <div class="item--ASp" id="1514:1953">조리시간</div>
  <div class="item--cy2" id="1514:1954">추가 전달사항</div>
</div>
</body>
</html>